:root {
    /* Brand styling */
    --fvt-grey: #101010;
    --fvt-white: #ffffff;
    --fvt-lightgrey: #c0c0c0;
    --fvt-orange: #ff9401;
    --fvt-red: #ff3636;
}

.mobile {
    display: none;
}

/* Font setup */
.figtree-regular {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.figtree-semibold {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.figtree-black {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* https://css-tricks.com/gradient-borders-in-css/ */
.border-gradient-top {
    border-top: 10px solid;
    border-image-slice: 1;
    border-top-width: 5px;
}

.border-gradient-bottom {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-bottom-width: 5px;
}

.fvt-border {
    border-image-source: linear-gradient(to left, var(--fvt-orange), var(--fvt-red));
}

body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: var(--fvt-white);
}

header {
    width: 100%;
    height: 4em;
    background-color: var(--fvt-grey);
}

main {
    width: 100%
}

#home-hero {
    width: 100%;
    height: 24vh;
    background: var(--fvt-grey);
    /* background: linear-gradient(
        to right,
        var(--fvt-grey),
         #3a3a3a 100%
        ); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

    img {
        height: 18vh;
    }

    h {
        /* flex-grow: 1; */
        font-size: 6vh;
        font-weight: 700;
        color: var(--fvt-white);
    }
}

#home-about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    box-sizing: border-box;
    padding: 3em;
    padding-inline: 10vw;

    img {
        max-width: 50%;
        border-radius: 1em;
        /* mask-image: linear-gradient(left top, left bottom, 
            from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
        } 
}

#home-sponsors {
    /* background: var(--fvt-lightgrey); */
    background: var(--fvt-white);
    min-height: 30vh;
    padding: 2em;
    h2 {
        font-size: 2.5em;
        text-align: center;
    }
}

#sponsor-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 12.5vw;
    gap: 2em;
}

.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        max-width: 25vw;
    }
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: unset;
    }

    .notmobile {
        display: none;
    }

    #home-hero {
        flex-direction: column;
        gap: 1em;
        padding: 2em 0px 2em;
        height: unset;

        h {
            font-size: 7vw;
        }

        img {
            height: unset;
            max-width: 70vw;
        }

    }

    #home-about {
        flex-direction: column;

        img {
            max-width: 90vw;
        }
    }
}