@import "tailwindcss";
@theme {
    --color-fvt-white: #ffffff;
    --color-fvt-dark-grey: #101010;
    --color-fvt-orange: #ff9401;
    --color-fvt-red: #ff3636;

    --color-fvt-orange-l: #ffa528;

    --color-rubric-pink: #EA2771;
    --color-discord-blurple: #5865F2;

    --color-rubric-pink-dark: #b81956;
    --color-discord-blurple-dark: #464faa;
}